<% provide :title, 'About' %>

<div class="container">
  <div class="page-header">
    <h2>このサイトについて</h2>
  </div>

  <h3>体重管理</h3>

  <p>
    「体重管理」は、体重を記録するためのウェブアプリケーションです。
  </p>

  <p>
    日々の体重を記録すると、体重の推移をグラフに表示します。
  </p>
</div>
