<div class="jumbotron">
  <div class="container">
    <h1>体重管理</h1>
    <p>日々の体重を登録して推移をグラフで確認します。</p>
    <p><%= link_to 'ユーザー登録 »', new_user_path,
      class: 'btn btn-primary btn-lg' %></p>
  </div>

  <div class="notes">
    <p>作成者自身のプログラム学習を目的に作成しているアプリケーションです。<br>
      内容は随時変更する可能性が有りますのでご注意ください。</p>
  </div>
</div>
