<% provide(:title, 'ユーザー更新') %>

<div class="container">

  <div class="page-header">
    <h2>ユーザー更新</h2>
  </div>

  <p>
    <%= render 'form' %>
  </p>

  <div class="alert alert-warning">
    <p>
      <%= fa_icon('exclamation-triangle') %>
      <strong>ユーザー情報の削除</strong><br />
      ユーザー情報とユーザーに関連するすべての情報を削除します。
      この操作は取り消しできませんので注意してください。<br />
      <%=
        link_to 'ユーザー情報の削除', user_path(current_user),
          method: :delete,
          data: { confirm: '削除してもよろしいですか？' },
          class: 'btn btn-danger btn-sm'
      %>
    </p>
  </div>
</div>
