<% provide(:title, @user.name) %>

<div class="container">

  <div class="page-header">
    <h2><%= @user.name %></h2>
  </div>

  <dl>
    <dt>目標体重</dt>
    <dd><%= @user.target_weight %> kg</dd>
  </dl>

  <p>
    <%= link_to '体重を登録する', new_weight_path,
      class: 'btn btn-primary' %>
  </p>

</div>
