<tr>
  <td><%= weight.date.strftime('%Y年%m月%d日') %></td>
  <td><%= weight.weight %> kg</td>
  <td>
    <%= link_to '修正', edit_weight_path(weight),
      class: 'btn btn-warning btn-xs', data: { no_turbolink: true } %>
    <%= link_to '削除', weight_path(weight),
      method: :delete,
      data: { confirm: '削除してよろしいですか？' },
      class: 'btn btn-danger btn-xs' %>
  </td>
</tr>
