<tr>
  <td><%= weight.date %></td>
  <td><%= weight.weight %></td>
  <td>
    <%= link_to '修正', '#',
      class: 'btn btn-warning btn-xs' %>
    <%= link_to '削除', '#',
      class: 'btn btn-danger btn-xs' %>
  </td>
</tr>
