<% provide(:title, '体重を変更する') %>

<div class="container">
  <div class="page-header">
    <h2>体重を変更する</h2>
  </div>

  <p>
    <%= link_to fa_icon('undo', text: 'プロフィールに戻る'),
      user_path(current_user), class: 'btn btn-default' %>
  </p>

  <%= render 'form' %>
</div>
