<% provide :title, '400 Bad Request' %>

<div id="error" class="container">
  <div class="page-header">
    <h2>400 Bad Request</h2>
  </div>
  <p>要求内容が不正です。</p>
  <p class="url"><%= request.url %></p>
</div>
