<% provide :title, '500 Internal Server Error' %>

<div id="error" class="container">
  <div class="page-header">
    <h2>500 Internal Server Error</h2>
  </div>
  <p>システムエラーが発生しました。申し訳ございません。</p>
</div>
