<% provide :title, '404 Not Found' %>

<div id="error" class="container">
  <div class="page-header">
    <h2>404 Not Found</h2>
  </div>
  <p>指定されたページは見つかりません。</p>
  <p class="url"><%= request.url %></p>
</div>
