/* base */
p {
  line-height: 1.6;
}
/* top page */
div.jumbotron {
  text-align: center;
  background-color: #fff;

  div.notes {
    p {
      font-size: 1em;
    }
  }
}

/* return to top */
#return-to-top {
  position: fixed;
  bottom: 50px;
  right: 100px;
}
